In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# UFO data comes from the Kaggle UFO dataset (scrubbed.csv) found at https://www.kaggle.com/NUFORC/ufo-sightings
# using Pandas read_csv()
# keep only the datetime, city, state, country, shape, duration (seconds) and comments columns
# load dataset without blank lines

file = 'scrubbed.csv'
ufo_data = pd.read_csv(file, 
                       usecols=[0,1,2,3,4,5,7,9,10], 
                       low_memory=False, 
                       na_values= ['UNKNOWN', 'UNK'], 
                       na_filter= True, 
                       skip_blank_lines= True)

# View the first five rows
ufo_data.head()

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,This event took place in early fall around 194...,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1949 Lackland AFB&#44 TX. Lights racing acros...,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,Green/Orange circular disc over Chester&#44 En...,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611

In [3]:
# Review the dataframe column names and dtypes using .info()

ufo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            80332 non-null  object
 1   city                80332 non-null  object
 2   state               74535 non-null  object
 3   country             70662 non-null  object
 4   shape               78400 non-null  object
 5   duration (seconds)  80332 non-null  object
 6   comments            80317 non-null  object
 7   latitude            80332 non-null  object
 8   longitude           80332 non-null  float64
dtypes: float64(1), object(8)
memory usage: 5.5+ MB

In [4]:
# Convert the 'datetime' column (currently an object/string) into a datetie using Pandas to_datetime
# Note the errors='coerce' will trnform the non-numeric values to NaN

ufo_data['datetime'] = pd.to_datetime(ufo_data['datetime'], errors='coerce')

In [5]:
# Strip out the date in the format mm/dd/YYYY
ufo_data['date'] = ufo_data['datetime'].dt.date

In [6]:
# Convert the 'duration' column from str to float using pandas to_nunmeric
# Note the errors='coerce' will trnform the non-numeric values to NaN

ufo_data['duration (seconds)'] = pd.to_numeric(ufo_data['duration (seconds)'], errors='coerce')

In [7]:
# Convert 'duration (seconds)' to durationMinutes

ufo_data['durationMinutes'] = ufo_data['duration (seconds)'] / 60

In [8]:
# Round durationMinutes
ufo_data = ufo_data.round({'durationMinutes': 0})

In [9]:
# Convert the 'latitude' column from str to float
# Note the errors='coerce' will trnform the non-numeric values to NaN

ufo_data['latitude'] = pd.to_numeric(ufo_data['latitude'], errors='coerce')

In [10]:
# Drop 'datetime' and 'keep date'
# Move date to the beginning of the dataframe
# Drop latitue and longitude (for now)
ufo_data = ufo_data[['date', 'city', 'state', 'country', 'shape', 'durationMinutes', 'comments']]

In [11]:
# Examine dtypes to confirm the transformation
ufo_data.dtypes

date                object
city                object
state               object
country             object
shape               object
durationMinutes    float64
comments            object
dtype: object

In [12]:
ufo_data.tail()

,date,city,state,country,shape,durationMinutes,comments
80327,2013-09-09,nashville,tn,us,light,10.0,Round from the distance/slowly changing colors...
80328,2013-09-09,boise,id,us,circle,20.0,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80329,2013-09-09,napa,ca,us,other,20.0,Napa UFO&#44
80330,2013-09-09,vienna,va,us,circle,0.0,Saw a five gold lit cicular craft moving fastl...
80331,2013-09-09,edmond,ok,us,cigar,17.0,2 witnesses 2 miles apart&#44 Red &amp; White...

In [16]:
# Load the data into data.js file (json)
ufo_data.to_json('jason.js', orient='table')